[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
yfinance = {index = 'pypi', version = '==0.1.86'}
icecream = {index = 'pypi', version = '==2.1.3'}

[requires]
python_version = '3.10'
